html{
    background-color: #e9e2d0;
    margin: 0px;
    padding: 0;
    color: #323031;
}

body {
    width: auto;
    margin: 0;
    padding: 0;
}
.nav-wrapper{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 40px;
}

.nav-wrapper > .left-side {
    margin-right: 20px;
    margin-left: 40px;
}

.nav-wrapper > .left-side > a {
    text-decoration: none;
    color: #323031;
    margin-right: 20px;
    padding:10px;
    font-size: 28px;
    font-family: 'Montserrat', sans-serif;
}

.nav-wrapper > .right-side {
    display: flex;
    margin-right: 50px;
}

.nav-wrapper > .right-side > div > a {
    text-decoration: none;
    color: #323031;
    margin-right: 50px;
    padding:10px;
}

.nav-wrapper > .right-side > div > a:hover {
    border-bottom: 1px solid #323031;
}

.active-nav-link a{
    border-bottom: 1px solid #323031;
}
/* -------------------------------------RESOURCES------------------------------------- */

.resources > h2 {
    font-size: 48px;
    color: #bbc7a4;
    text-align: center;
    margin-top: 70px; 
}

.resources > h4 {
    font-family: 'Open Sans', sans-serif;
    color: #323031;
    font-size: 18px;
    font-weight: 700;
    margin-left: 50px;
    padding-bottom: 100px;
}
/* -------------------------------------ABOUT------------------------------------- */
.about > p {
    text-align: center;
    margin-top: 70px;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-size: 18px;
}

.about > h2 {
    font-size: 48px;
    color: #6b0504;
    text-align: center;
}
.about > .content{
    display: flex;
}
.about >.left {
    display: flex;
    float: left;
}

.about >.mid {
    display: flex;
    float: left;
    margin-bottom: 100px;
}
.about > .content > .right > p{
    display: flex;
    width: 600px;
    font-family: 'Roboto', sans-serif;
    margin-top: 70px;
    padding-bottom:0px;
}
.about > .content > .right > h4{
    font-weight: 1000;
    display: flex;
    width: 600px;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
}
.about > .content > .right > h5{
    font-weight: 1200;
    display: flex;
    width: 600px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #da7422;
}
.about > .content > .left > .ver {
    height: 440px;
    width: 330px;
    margin-left: 60px;
    display: flex;
    padding-bottom: 20px;
}
.about > .content > .mid > .hor {
    height: 215px;
    width: 330px;
    display: flex;
    padding: 10px;
    padding-top: 0;
}
.authors{
    background-color: black;
    color: #e9e2d0;
}

.authors > .poet > .portrait-background {
    max-height: 1000px;
    max-width: 1000px;
    position: relative;
    padding-bottom: 0;
    margin-bottom: 0;
}

.authors > .poet > .portrait-background > div > img{
    height: 400px;
    width: 1420px;
    background: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    z-index: 3;
    padding: 0;
}

.authors > .poet > .text1, .text2{
    position: absolute;
    display: flex;
    top: 0;
    flex-direction: column;
    align-items: flex-end;
    z-index: 2;
    font-family: 'Roboto', sans-serif;
}

.authors > .poet > .text1{
    margin-left: 650px;
    top: 800px;
}

.authors > .poet > .text1 > h4 {
    align-items: center;
    text-align: center;
    font-size: 36px;
    /* margin-right: 600px; */
    top: 800px;
    margin-bottom: 0;
}

.authors > .poet > .text1> p{
    font-size: 14px;
}
.authors > .poet > .text1> h5 {
    font-size: 48px;
    color: #6b0504;
    margin-top: 10px;
}
.authors > .poet > .text2 {
    margin-left: 90px;
    top: 1150px;
    align-items: flex-start;
}
.authors > .poet > .text2> p{
    font-size: 14px;
}
.authors > .poet > .text2> h5 {
    font-size: 48px;
    color: #6b0504;
    font-weight: 2000;
}
/* -------------------------------------FOOTER NAV------------------------------------- */

.footer {
    font-family: 'Roboto', sans-serif;
    background-color: #323031;
    /* width: 100% auto; */
    color: #e9e2d0;
    padding: 50px;
    display: flex;
    justify-content: space-between;
}

.footer > .left-side > div > a{
    left:0;
    text-decoration: none;
    color: #e9e2d0;
    padding-top: 10px;
    display: flex;
    width: 50px;
}

.footer > .left-side > div > a:hover {
    color:black;
}
.footer > .left-side > .cr {
    bottom: 0;
    padding-top: 30px;
    padding-bottom: 0;
    font-size: 14px;
}

.footer > .right-side > p {
    display: flex;
    font-size: 14px;
    margin-right: 330px;
    margin-bottom: 30px;
}
.footer > .right-side > img {
    height: 30px;
    width: 30px;
    padding-right: 15px;
}


